In [2]:
import pandas as pd 
import numpy as np

In [3]:
df_ipsa1 = pd.read_csv('./data/IPSA_01.csv')
df_ipsa1

,Date,Open,High,Low,Close,Adj Close,Volume
0,2002-01-01,1183.150024,1211.189941,1137.250000,1153.099976,1153.099976,0
1,2002-02-01,1154.050049,1161.150024,1121.630005,1144.459961,1144.459961,0
2,2002-03-01,1144.109985,1209.650024,1144.109985,1163.630005,1163.630005,0
3,2002-04-01,1163.630005,1164.579956,1126.719971,1137.839966,1137.839966,0
4,2002-05-01,1149.670044,1156.180054,1095.719971,1099.739990,1099.739990,0
5,2002-06-01,1100.329956,1100.800049,1029.219971,1031.949951,1031.949951,0
6,2002-07-01,1031.949951,1047.560059,937.059998,1039.640015,1039.640015,0
7,2002-08-01,1039.640015,1072.530029,1001.299988,1022.359985,1022.359985,0
8,2002-09-01,1022.239990,1022.950012,927.239990,927.469971,927.469971,0
9,2002-10-01,925.340027,965.219971,885.710022,958.590027,958.590027,0
10,2002-11-01,959.179993,981.309998,940.840027,960.359985,960.359985,0
11,2002-12-01,960.359985,1013.369995,950.900024,1000.000000,1000.000000,0
12,2003-01-01,1000.000000,1040.119995,978.969971,1001.989990,1001.989990,0
13,2003-02-01,1001.989990,1021.500000,993.289978,1014.940002,1014.940002,0
14,2003-03-01,1016.380005,1035.469971,1003.599976,1009.130005,1009.130005,0
15,2003-04-01,1009.130005,1164.750000,1005.669983,1163.959961,1163.959961,0
16,2003-05-01,1166.989990,1244.790039,1156.040039,1231.010010,1231.010010,0
17,2003-06-01,1231.630005,1287.140015,1209.819946,1228.119995,1228.119995,0
18,2003-07-01,1228.119995,1321.380005,1228.119995,1321.380005,1321.380005,0
19,2003-08-01,1321.380005,1405.359985,1308.670044,1369.619995,1369.619995,0
20,2003-09-01,1370.020020,1436.119995,1342.319946,1430.489990,1430.489990,0
21,2003-10-01,1430.420044,1593.890015,1430.420044,1515.959961,1515.959961,0
22,2003-11-01,1516.819946,1518.589966,1372.069946,1458.339966,1458.339966,0
23,2003-12-01,1458.339966,1490.709961,1432.040039,1484.800049,1484.800049,0
24,2004-01-01,1484.800049,1491.160034,1405.650024,1408.859985,1408.859985,0
25,2004-02-01,1408.859985,1544.569946,1401.180054,1543.079956,1543.079956,0
26,2004-03-01,1543.239990,1573.939941,1416.719971,1458.900024,1458.900024,0
27,2004-04-01,1458.400024,1509.500000,1427.619995,1430.599976,1430.599976,0
28,2004-05-01,1430.839966,1447.209961,1357.530029,1428.800049,1428.800049,0
29,2004-06-01,1428.800049,1486.020020,1396.310059,1482.979980,1482.979980,0
...,...,...,...,...,...,...,...
180,2017-01-01,4150.520020,4315.109863,4141.540039,4199.500000,4199.500000,0
181,2017-02-01,4202.500000,4384.750000,4202.109863,4359.879883,4359.879883,0
182,2017-03-01,4364.500000,4877.000000,4359.770020,4783.419922,4783.419922,0
183,2017-04-01,4786.140137,4904.810059,4772.529785,4795.129883,4795.129883,0
184,2017-05-01,4796.689941,4911.459961,4769.709961,4855.750000,4855.750000,0
185,2017-06-01,4855.879883,4920.009766,4717.799805,4747.240234,4747.240234,0
186,2017-07-01,4749.569824,5082.459961,4740.879883,5064.620117,5064.620117,0
187,2017-08-01,5062.500000,5194.080078,5020.259766,5153.149902,5153.149902,0
188,2017-09-01,5152.669922,5351.459961,5076.850098,5341.930176,5341.930176,0
189,2017-10-01,5346.740234,5613.700195,5341.950195,5588.080078,5588.080078,0
190,2017-11-01,5588.080078,5591.040039,4968.160156,5003.399902,5003.399902,0
191,2017-12-01,5003.399902,5646.000000,4846.839844,5564.600098,5564.600098,0
192,2018-01-01,5565.629883,5890.120117,5558.540039,5855.379883,5855.379883,0
193,2018-02-01,5855.379883,5894.930176,5494.569824,5602.830078,5602.830078,0
194,2018-03-01,5602.830078,5663.140137,5441.339844,5542.220215,5542.220215,0
195,2018-04-01,5542.220215,5730.720215,5496.399902,5710.899902,5710.899902,0
196,2018-05-01,5711.959961,5730.720215,5433.609863,5455.089844,5455.089844,0
197,2018-06-01,5455.089844,5566.770020,5245.939941,5301.250000,5301.250000,0
198,2018-07-01,5301.250000,5483.040039,5240.339844,5434.439941,5434.439941,0
199,2018-08-01,5434.439941,5454.350098,5222.430176,5270.430176,5270.430176,0
200,2018-09-01,5270.430176,5507.580078,5137.490234,5283.529785,5283.529785,0
201,2018-10-01,5283.529785,5366.209961,4998.950195,5104.330078,5104.330078,0
202,2018-11-01,5104.330078,5272.359863,5095.580078,5111.879883,5111.879883,0
203,2018-12-01,5111.879883,5185.979980,5007.939941,5105.430176,5105.430176,0
204,2019-01-01,5105.430176,5484.180176,5064.410156,5405.609863,5405.609863,0
205,2019-02-01,5405.609863,5515.950195,5280.680176,5287.540039,5287.540039,0
206,2019-03-01,5287.540039,5345.319824,5154.589844,5259.410156,5259.410156,0
207,2019-04-01,5259.410156,5290.310059,5147.200195,5187.100098,5187.100098,0
208,2019-05-01,5187.100098,5197.069824,4798.350098,4977.089844,4977.089844,0
209,2019-06-01,4977.089844,5093.939941,4920.819824,5058.879883,5058.879883,0